CLANG_ANALYZER_NONNULL=YES
CLANG_WARN_DOCUMENTATION_COMMENTS=YES
INFOPLIST_FILE=UITests/Info.plist
LD_RUNPATH_SEARCH_PATHS=$(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER=com.justeattakeaway.shock.uitests
PRODUCT_NAME=$(TARGET_NAME)
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Debug]=DEBUG
SWIFT_OPTIMIZATION_LEVEL=-O
TEST_TARGET_NAME=DemoApp
